[submodule "prisehub/l10n-ec"]
	path = prisehub/l10n-ec
	url = git@github.com:prisehub/l10n-ec.git
	branch = 15.0

[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 15.0
